language: scala
scala:
  - 2.12.5

jdk:
  - oraclejdk8

# Demo tests are designed to fail; so only test compile
script: sbt lambda-test/test:compile

after_success:
   - (sbt clean coverage "lambda-test/test:runMain demo.All" "lambda-test/test:runMain coverage.All" test || true)
   - sbt coverageReport
   - bash <(curl -s https://codecov.io/bash)

before_install:
 - export PATH=${PATH}:./vendor/bundle

install:
   - rvm use 2.2.5 --install --fuzzy
   - gem update --system
   - gem install sass
   - gem install ruby_dep -v 1.3.1
   - gem install jekyll -v 3.4.3
