$brand-primary:              #D0E7FF;
$brand-secondary:            #5CA2F7:
$brand-tertiary:             #003382;
$gray-dark:                  #494A4F;
$gray:                       #76767E;
$gray-light:                 #E6E7EC;
$gray-lighter:               #F4F5F9;